<section class="container">
  <div class="row">
    <button class="mt-3 btn btn-primary" (click)="captureScreen()">
      Print
    </button>
  </div>
</section>

<br>

<section class="container" id="content" #content>

  <div class="row mb-3">
    <h1 class="title">قراءات يومية</h1>
    <h2 class="sub-title">
      تكنولوجيا
    </h2>
  </div>

  <!-- black hr -->
  <div class="row black-hr p-0 mb-2">
  </div>

  <div class="row p-0">

    <!-- right side -->
    <div class="col-4 right-side p-0">
      <img src="assets/demo.jpg" class="img-">
    </div>

    <!-- left side -->
    <div class="col-8 p-2">
      <div class="left-side">
        <ul class="parent-list">
          <li class="mt-3">
            نتائج البحث
            مقتطَف مميَّز من الويب
            الانتحار هو الفعل الذي يتضمن تسبب الشخص عمداً في قتل نفسه. يرتكب الانتحار غالباً بسبب اليأس، والذي كثيراً ما
            يُعزى إلى اضطراب نفسي مثل الاكتئاب أو الهوس الاكتئابي أو الفصام أو إدمان الكحول أو تعاطي المخدرات. وغالبًا
            ما
            تلعب عوامل الإجهاد مثل الصعوبات المالية أو المشكلات في العلاقات الشخصية دوراً في ذلك.

            <ul class="mt-3 child-list">
              <li>
                نتائج البحث
                مقتطَف مميَّز من الويب
                الانتحار هو الفعل الذي يتضمن تسبب الشخص عمداً في قتل نفسه. يرتكب الانتحار غالباً بسبب اليأس، والذي
                كثيراً
                ما
                يُعزى إلى اضطراب نفسي مثل الاكتئاب أو الهوس الاكتئابي أو الفصام أو إدمان الكحول أو تعاطي المخدرات.
                وغالبًا
                ما
                تلعب عوامل الإجهاد مثل الصعوبات المالية أو المشكلات في العلاقات الشخصية دوراً في ذلك.
              </li>
            </ul>
          </li>

          <li class="mt-3 blue-color ">
            نتائج البحث
            مقتطَف مميَّز من الويب
            الانتحار هو الفعل الذي يتضمن تسبب الشخص عمداً في قتل نفسه. يرتكب الانتحار غالباً بسبب اليأس، والذي كثيراً ما
            يُعزى إلى اضطراب نفسي مثل الاكتئاب أو الهوس الاكتئابي أو الفصام أو إدمان الكحول أو تعاطي المخدرات. وغالبًا
            ما
            تلعب عوامل الإجهاد مثل الصعوبات المالية أو المشكلات في العلاقات الشخصية دوراً في ذلك.
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row bottom-footer">
    <div class="col-6">
      <p class="text-right">
        CEWWWESEEMEELEOE
      </p>
    </div>

    <div class="col-6">
      <p>
        01 - 01 - 2020
      </p>
    </div>
  </div>

</section>